<div id="main">
  <p id="main_h">About KnowNow</p>
  <img src="assets/book.gif" alt="" width="250px" style="padding-top: 10px;" />
  <p id="main_c">
    We at
    <span style="font-family: 'Yatra One', cursive;">KnowNow</span>
    are a dedicated team of web developers who aim to bring seamless experience
    of news surfing on your internet devices. KnowNow, for the time being, is on
    beta-phase and we are welcome to any changes and suggestions from your side.
    To suggest changes, create a pull request on our official Github Repository
    given below
  </p>
  <blockquote class="embedly-card" data-card-theme="dark">
    <h4>
      <a href="http://github.com/abhinavakhil/KnowNow">abhinavakhil/KnowNow</a>
    </h4>
  </blockquote>
  <script
    async
    src="//cdn.embedly.com/widgets/platform.js"
    charset="UTF-8"
  ></script>
</div>
<div id="team">
  <p id="team_h">Team</p>
  <div class="image-container">
    <div>
      <div
        style="background: url('https://avatars0.githubusercontent.com/u/31372157?s=400&v=4');"
      ></div>
      <blockquote class="embedly-card" data-card-theme="dark">
        <h4>
          <a href="http://github.com/abhinavakhil">abhinavakhil - Overview</a>
        </h4>
      </blockquote>
      <script
        async
        src="//cdn.embedly.com/widgets/platform.js"
        charset="UTF-8"
      ></script>
    </div>
    <div>
      <div
        style="background: url('https://avatars3.githubusercontent.com/u/31386681?s=400&v=4');"
      ></div>
      <blockquote class="embedly-card" data-card-theme="dark">
        <h4><a href="http://github.com/isishan">isishan - Overview</a></h4>
      </blockquote>
      <script
        async
        src="//cdn.embedly.com/widgets/platform.js"
        charset="UTF-8"
      ></script>
    </div>
    <div>
      <div
        style="background: url('https://avatars2.githubusercontent.com/u/47394575?s=400&u=ab95cea5e2807bcdfb0a49979212fb8b5338c4ce&v=4');"
      ></div>
      <blockquote class="embedly-card" data-card-theme="dark">
        <h4>
          <a href="http://github.com/abhishek4813"
            >Abhishek4813&nbsp;-&nbsp;Overview</a
          >
        </h4>
      </blockquote>
      <script
        async
        src="//cdn.embedly.com/widgets/platform.js"
        charset="UTF-8"
      ></script>
    </div>
  </div>
  <br />
</div>

<!-- footer -->
<footer
  class="page-footer font-small blue"
  style="background-color:#343a40;padding:10px;color:#fff"
>
  <br />
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: 24px;">
    Created By : Team Nash
    <a href="#"> meetteamNash.com</a>
  </div>
  <!-- Copyright -->
</footer>
