<div class="container">
  <h2
    *ngIf="!loader"
    class="text-center"
    style="font-family: 'Courier New', Courier, monospace;padding: 25px"
  >
    <img src="assets/loading.gif" />
  </h2>
  <div class="row">
    <div
      class="col-md-3"
      *ngFor="let c of mydataArray"
      style="margin-bottom:20px;"
    >
      <div class="card h-100">
        <a href="{{ c.url }}">
          <img
            src="{{ c.urlToImage }}"
            class="card-img-top"
            height="200"
            width="300px"
          />
        </a>
        <div class="card-body">
          <p class="card-title">{{ c.title.substring(0, 30) }}..</p>
          <!-- <p class="card-text">{{ c.content.substring(0, 10) | json }}</p> -->
          <span>{{ c.publishedAt }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-outline-primary mb-2 mr-2">Large modal</button> -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
